<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <title>Groupie-Tracker</title>
    </head>
    <body>
        <form method="post">
            <div class="fram">
                <h1>Mona Lisa</h1>
            </div>
            <main id="">
                <figure>
                    <img src="https://i.im.ge/2024/09/28/kqcKby.download.jpeg" style="width: 100px">
                    <figcaption>
                        <p>By leonardo da vinci</p>
                    </figcaption>
                </figure>
        </form>
    </body>
</html>