<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.css">
        <title>Groupie</title>
    </head>
    <body>
        <main>
            <header>
                <h1>Groupie Tracker</h1>
                <h3>Find Your Artist</h3>
            </header>
            <section>
                <figure>
                    <img src="https://i.im.ge/2024/09/28/kqcKby.download.jpeg" style="width: 100px">
                    <figcaption>
                        <h5>Mona Lisa</h5>
                        <p>By leonardo da vinci</p>
                    </figcaption>
                </figure>
                <figure>
                    <img src="https://i.im.ge/2024/09/28/kqcZhJ.150711.jpeg" style="width: 100px">
                    <figcaption>
                        <h5>Marilyn Monroe</h5>
                        <p>American Model</p>
                    </figcaption>
                </figure>
            </section>
        </main>
    </body>
</html>