<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="style.css">
        <title>Groupie</title>
    </head>
    <body>
        <main>
            <form method="get" action="/">
                <header>
                    <h1>Groupie Tracker</h1>
                    <h3>Find Your Artist</h3>
                </header>
                <div id="gallary">
                    <div class="card">
                        <div class="card__thumb"><img src="1.png"/></div>
                        <div class="card__content">
                            <div class="card__actions">
                                <div class="start">
                                    <a href="#">Like</a>
                                    <a href="#">Save</a>
                                </div>
                                <div class="end">
                                    <a href="#">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
        </main>
    </body>
</html>
