<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{.A.Name}} - Groupie Tracker</title>
</head>
<body>
    <form method="post" action="/artist">
    <header>
        <h1>{{.A.Name}}</h1>
        <img src="{{.A.Image}}" alt="{{.A.Name}}" />
        <p>Members: {{range .A.Members}}{{.}}, {{end}}</p>
        <p>Started in: {{.A.Creation}}</p>
        <p>First Album: {{.A.FirstAlbum}}</p>
        <h2>Concert Locations and Dates</h2>
        <ul>
            {{range $location, $dates := .R.Relation}}
            <li>{{$location}}: {{range $dates}}{{$dates}} {{end}}</li>
            {{end}}
        </ul>
        <a href="/" class="back-button">Back</a>
    </header>
    </form>
</body>
</html>
