<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <main class="container">
        <header>
            <h1>Groupie Tracker</h1>
            <h3>Find Your Artist</h3>
        </header>
        <section id="Gallery">
            <div class="photos">
                {{range .}}
                <div class="photo_card">
                    <a href="/artist/{{.Id}}">
                        <h2>{{.Name}}</h2>
                        <img src="{{.Image}}" alt="{{.Name}}" />
                    </a>
                    <p>Members: {{range .Members}}{{.}}, {{end}}</p>
                    <p>Started in: {{.Creation}}</p>
                    <p>First Album: {{.FirstAlbum}}</p>
                </div>
                {{end}}
            </div>
        </section>
    </main>
</body>
</html>


<!-- colors :
#2c3444
#d4d4d5
#2c2c34
#242427
#2c343c
#242834
#1c2324
#2c2c44
#242c2c
#242828
 -->






