<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="\static\style.css">
        <title>Groupie</title>
    </head>
    <body>
        <main class="container">
            <form method="get" action="/">
                <header>
                    <h1>Groupie Tracker</h1>
                    <h3>Find Your Artist</h3>
                </header>
                <section id="Gallary">
                    <div class="photos">
                        <div class="photo_card"><img src="https://via.assets.so/img.jpg?w=250&h=250&tc=darkblue&bg=#cecece" /></div>
                    </div>
                </section>        
            </form>
        </main>
    </body>
</html>
