<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{.A.Name}} - Groupie Tracker</title>
</head>
<body>
    <form method="post" action="/artist/">
        <main class="group-info">
            <section class="artist-details">
                <div class="artist-image">
                    <img src="{{.A.Image}}" alt="{{.A.Name}}" />
                </div>
                <div class="artist-name">
                    <h2>{{.A.Name}}</h2>
                    <p><strong>Members:</strong></p>
                    <ul>
                        {{range $member := .A.Members}}
                        <li>{{$member}}</li>
                        {{end}}
                    </ul>
                    <p>Started in: {{.A.Creation}}</p>
                    <p>First Album: {{.A.FirstAlbum}}</p>
                    <a href="/main/" class="back-button">Back</a>
                </div>
            </section>

            <div>
                <h2>Concert Locations and Dates</h2>
            <section class="concert-info">
                <ul class="Relation_list">
                    {{range $location, $dates := .R.Relation}}
                    <li><strong>{{$location}}:</strong>
                        <ul class="date-list">
                            {{range $date := $dates}}
                            <li>{{$date}}</li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </section>
            </div>
            <section class="location-info">
                <ul class="Location_list">
                    {{range $location, $venues := .L.Locations}}
                    <li><strong>{{$location}}:</strong>
                        <ul class="venue-list">
                            {{range $venue := $venues}}
                            <li>{{$venue}}</li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </section>
            <section class="date-info">
                <ul class="Date_list">
                    {{range $date, $events := .D.Dates}}
                    <li><strong>{{$date}}:</strong>
                        <ul class="event-list">
                            {{range $event := $events}}
                            <li>{{$event}}</li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </section>
        </main>
    </form>
</body>
</html>
