<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{.A.Name}} - Groupie Tracker</title>
</head>
<body>
    <form method="post" action="/artist">
        <main class="group-info">
            <section class="artist-details">
                <div class="artist-image">
                    <img src="{{.A.Image}}" alt="{{.A.Name}}" />
                </div>
                <div class="artist-name">
                    <h2>{{.A.Name}}</h2>
                    <p><strong>Members:</strong></p>
                    <ul>
                        {{range $member := .A.Members}}
                        <li>{{$member}}{{end}}</li>
                    </ul>
                    <p>Started in: {{.A.Creation}}</p>
                    <p>First Album: {{.A.FirstAlbum}}</p>
                    <a href="/main/" class="back-button">Back</a>
                </div>
            </section>
            <div>
                <h2>Concert Locations and Dates</h2>
            <section class="concert-info">
                <ul class="Relation_list">
                    {{range $location, $dates := .R.Relation}}
                    <li>{{$location}}: 
                        <ul class="date">
                            {{range $dates}}
                            <li>{{$dates}}</li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </section>
            </div>
        </main>
    </form>
</body>
</html>
