<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <form method="post" action="/main">
    <main class="container">
        <section id="Gallery">
            <div class="photos">
                {{range .}}
                <div class="photo_card">
                    <a href="/artist/{{.Id}}">
                        <img src="{{.Image}}" alt="{{.Name}}" />
                        <h2>{{.Name}}</h2>
                    </a>
                </div>
                {{end}}
            </div>
        </section>
    </main>
    </form>
</body>
</html>


<!-- colors :
#2c3444
#d4d4d5
#2c2c34
#242427
#2c343c
#242834
#1c2324
#2c2c44
#242c2c
#242828
 -->






