body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-image: url("https://i.im.ge/2024/10/18/kCsxip.download-3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  color: #f8ecec;
  text-align: center;
}

header {
  padding: 20px;
}

.h {
  padding: 150px;
}

.home a {
  display: inline-block;
  font-size: 0.5rem;
  font-weight: bold;
  color: #f8ecec;
  border-style: outset;
  border-radius: 200px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 250px; 
}

.home a:hover {
  color:#a4a4c1;
  border-style: inset;
  transform: scale(1.05);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Auto-adjust columns */
  grid-gap: 20px; /* Spacing between grid items */
  width: 100%;
}

.photo_card {
  border-style: outset;
  border-width: 10px;
  border-color: #070709;
  transition: transform 0.3s ease-in-out;
}

.photo_card img {
  width: 100%;
  height: auto;
}

.photo_card:hover {
  transform: scale(1.02);
  border-style: inset;
}

.photo_card a {
  color: #f8ecec;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
