
body {
  font-family: 'Arial', sans-serif;
  background-image: url("https://i.im.ge/2024/10/16/kyr4Ap.Untitled8-20241016183052.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  color: #f8ecec;
  text-align: center;
}

header {
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}


.photos {
  margin: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo_card {
  border-style: inset white;
}
.photo_card:hover {
  box-shadow: 0px 0px 10px 1px 
  #2c2c44;
}

footer {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}